.selection{
    background: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin: 1rem auto;
    border-radius: 2px;
    padding: 0.2rem;
    width: 80%;
}

/*     const [filteredUser, setFilteredUser] = useState();

    const filterChange = selectedUser => {
      setFilteredUser(selectedUser);
    };
    
    const filteredTasks = tasks.filter(task => {
      return task.userid === filteredUser;
    });

    let tasksContent = <Tasks items={tasks} />

    if(filteredTasks.length > 0){
      tasksContent = <Tasks items={filteredTasks} />
    } */