.selection{
    background: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin: 1rem auto;
    border-radius: 2px;
    padding: 0.2rem;
    width: 80%;
}
.task_notification{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #00497a;
  background: #005792;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  margin: 1rem auto;
  width: 30%;
}
.task_notification p {
  color: white;
  padding: 1px;
  font-size: large;
}