.expenses-filter{
    color: white;
    padding: 0 2rem;
  } 
.expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0;
  }
.expenses-filter label {
    font-weight: bold;
    font-size: 20px;
    color: #0f1452;
    margin-bottom: 0.5rem;
  }
.expenses-filter select {
    background-color: white;
    border: 1px solid #ccc;
    font: inherit;
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }