.tasks{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.task-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}  
.task-date{
    background: #051367;
    color:#EEEEEE;
    font-weight: bold;
    border-radius: 2px 2px 0 0;
    padding: 5px 30px 5px 30px;
} 
    
table{
    border-spacing: 0;
    width: 800px;
    border-radius: 8px;
    overflow: hidden;
}

    
th{
    text-align: center;
    background-color: #051367;
    color: #EEEEEE;
    padding: 7px;
    border-bottom: 1px solid #92A9BD;
}
    
td{
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #92A9BD;
}